<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="row">
      <h6 style="text-align: center;">Title!</h6>
    </div>
    <div class="row">
    <div class="col-sm-1 container-fluid" style="width:10%;padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#363940" >
        <div class="card"  style="padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#363940">
            <div class="card-body" style="color:#d8d7df">
              #Room icons go here
            </div>
          </div>
    </div>
    <div class="col-1" style="width:20%;padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#303136" >
        <div class="card" style="padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#303136">
            <div class="card-body"style="color:#d8d7df">
              #Current room selection goes here
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Room Channel 1
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Room Channel 2
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Room Channel 3
            </div>
          </div>
    </div>
    <div class="col-9" style="width:50%;padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#363940" >
        <div class="card" style="padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#363940" >
            <div class="card-body" style="color:#d8d7df">
              #Current Channel Selection goes here
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 1
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 2
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 3
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 4
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 5
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 6
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 7
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 8
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 9
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 10
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 11
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 12
            </div>
            <div class="card-body" style="color:#d8d7df">
              #Channel Message 13
            </div>

          </div>
    </div>
    <div class="col-1" style="width:20%;padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#303136" >
        <div class="card" style="padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#303136">
            <div class="card-body" style="color:#d8d7df">
              #Users List
            </div>
            <div class="card-body" style="color:#d8d7df">
              #User 1
            </div>
            <div class="card-body" style="color:#d8d7df">
              #User 2
            </div>
            <div class="card-body" style="color:#d8d7df">
              #User 3
            </div>
            <div class="card-body" style="color:#d8d7df">
              #User 4
            </div>
          </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>