<div class="chat-box">
  <div class="chat-header">
    <h6>Chat</h6>
  </div>
  <div class="chat-window">
    <ul class="messages"></ul>
  </div>
  <div class="chat-input">
    <input id="chat-message" type="text" placeholder="Type message here..." />
  </div>
</div>