    <div class="col-1" style="width:20%;padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#303136" >
        <div class="card" style="padding-left:0;padding-right:0;margin-left:0;margin-right:0;background-color:#303136">
            <div class="card-body"style="color:#d8d7df">
              Select Your Room:
            </div>
            <div class="card-body" style="color:#d8d7df">
              <a href="/room/1">#Room Channel 1</a>
            </div>
            <div class="card-body" style="color:#d8d7df">
              <a href="/room/2">#Room Channel 2</a>
            </div>
            <div class="card-body" style="color:#d8d7df">
              <a href="/room/3">#Room Channel 3</a>
            </div>
          </div>
    </div>