<div class="row">
  <div class="col">
    <div
      class="card"
      id="chatCards"
      style="
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        background-color: #363940;
      "
    >
      <div class="card-body" style="color: #d8d7df">
        <button
          type="button"
          class="btn btn-link"
          id="audioChannel1"
          data-name="{{name}}" data-room="{{roomID}}" data-channel="1"
        >
          <i class="fas fa-volume-up"></i> Audio Channel #1
        </button>
        <ul id="appendAudio"></ul>
        <audio autoplay="true"></audio>
      </div>
      <div class="card-body" style="color: #d8d7df">
        <a href="/channel/1">Chat Channel #1</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="chat-box">
      <div class="chat-header">
        <h6>Chat</h6>
      </div>
      <div class="chat-window">
        <ul class="messages"></ul>
      </div>
      <div class="chat-input">
        <input
          id="chat-message"
          type="text"
          placeholder="Type message here..."
        />
      </div>
    </div>
  </div>
</div>
<script src="/js/roomchat.js"></script>