<div class="d-flex justify-content-center" style="margin-top: 50px">
  <div class="card" style="box-shadow: 5px 5px 3px grey">
    <div class="card-header">
      <h1 style="font-size: 24px">Sign In</h1>
    </div>
    <div class="card-body">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="username" id="id" />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="password" id="pw" />
        </div>
        <div class="text-center mt-2">
          <input
            type="submit"
            value="Sign In"
            class="btn btn-primary align-center"
          	id="signIn"
					/>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <a href="/sign-up">Create Account</a>
      </div>
    </div>
  </div>
</div>