.chat-box {
  background-color: #1e2e88;
  border: 3px solid #08c52e;
}

.chat-header {
  color: white;
  text-align: center;
}

.chat-window {
  background-color: red;
  border: 3px solid #08c52e;
}

.messages {
  color: white;
}
